
.mq {
	font-family: 'Oswald', sans-serif;

	.wrapper {
		display: flex;
	}

	.name {
		font-size: 3em;
		transform: rotate(-90deg);
		transform-origin: top left;
		margin: 180px 0 0 20px;
		color: #999;
		line-height: 45px;
	}

	.main-container {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		border: 1px dotted pink;
		height: 95vh;
	}

	.sidebar {
		width: 150px;
	}

	.row {
		display: flex;
		flex-grow: 1;

		.cell {
			border: 1px solid #999;
			flex-grow: 1;
			margin: 10px;

			&:hover {
				background: pink;
				cursor: pointer;
			}

			&.nature {
				background-image: url('../img/nature.jpg');
				filter: grayscale(80%);

				&:hover {
					background-position: -50px -50px;
					transition: background-position 1s ease-out, filter 1s ease-out;
					 filter: grayscale(0%);
				}
			}
		}
	}
}